<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="_fragments :: head(~{::title}, ~{::link}, ~{})">
  <title>轮播图管理-ShiroAdmin</title>
  <link rel="stylesheet" th:href="@{/css/custom.form.css}">
</head>
<body>
<div class="rotation_table_div">
  <table class="layui-hide" id="rotation_table" lay-filter="rotation_table"></table>
  <div id="laypage" class="layui-laypage-btn"></div>
</div>
</body>
<script>
  layui.use(['table', 'laypage', 'jquery', 'layer'], function () {
    var table = layui.table;
    var laypage = layui.laypage
    var layer = layui.layer;
    var $ = layui.jquery;
    var searchParam = {
      pageNum: 1,
      pageSize: 10,
    }

    /*动态获取数据*/
    CoreUtil.sendAjax("/api/rotation", JSON.stringify(searchParam), function (res) {
      //初始化分页器
      laypageTable(res.data.totalRows, searchParam.pageNum);
      //初始化渲染数据
      if (res.data.list != null) {
        loadTable(res.data.list);
      }
    }, "POST", false, function (res) {
      //无权限访问提示
      layer.msg("抱歉！您暂无获取轮播数据列表的权限");
      var noAuthorityData = [];
      loadTable(noAuthorityData);
    });

    //渲染分页插件
    var laypageTable = function (count, currentPage) {
      laypage.render({
        elem: 'laypage'
        , count: count
        , limit: searchParam.pageSize
        , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
        , curr: location.hash.replace('#!currentPage=', '') //获取起始页
        , hash: 'currentPage' //自定义hash值
        , jump: function (obj, first) {
          if (!first) {
            searchParam.pageNum = obj.curr;
            searchParam.pageSize = obj.limit;
            CoreUtil.sendAjax("/api/rotation", JSON.stringify(searchParam), function (res) {
              if (res.data.list != null) {
                loadTable(res.data.list);
                laypageTable(res.data.totalRows, searchParam.pageNum);
              }
            }, "POST", false, function (res) {
              //无权限访提示
              layer.msg("抱歉！您暂无获取轮播数据列表的权限");
              var noAuthorityData = [];
              loadTable(noAuthorityData);
            });
          }
        }
      });
    };

    //渲染table
    var loadTable = function (data) {
      //展示已知数据
      table.render({
        elem: '#rotation_table'
        , cols: [
          [
            {type: 'checkbox', fixed: 'left'},
            {field: 'id', title: 'ID', width: 300, sort: true},
            {field: 'url', title: '轮播图广告地址', width: 200},
            {field: 'name', title: '轮播图名称', width: 300},
            {field: 'fileUrl', title: '图片地址', width: 300},
            {field: 'sort', title: '轮播图排序位置', width: 300},
            {
              field: 'createTime', title: '创建时间', minWidth: 120, templet: function (item) {
                return CoreUtil.formattime(item.createTime);
              }
            },
            {title: '操作', width: 250}
          ]
        ]
        , data: data
        , even: true
        , limit: data.length
        , limits: [10, 20, 30, 40, 50]
      });
    };
  });
</script>
</html>